* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: space-around;
    background-color: gray;
    padding: 8px;
    align-items: center;
}

nav .logo img {
    width: 120px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    font-style: oblique;
}

button {
    cursor: pointer;
}

.header-container {
    background-image: url('../asset/image/background.jpg'),
        linear-gradient(rgba(0, 0, 0, 0.322), rgba(128, 128, 128, 0.589));
    background-blend-mode: overlay;
    background-position: center;
    background-size: cover;
    height: 100vh;
    text-align: center;
    display: flex;
    align-items: center;
}

.title {
    font-size: 40px;
}

.descibtion {
    width: 50%;
    margin: 10px auto;

}

.primary {
    color: red;
}

.btn {
    padding: 10px 20px;
    border: 0;
    border-radius: 5px;
    margin: 20px;
}

.btn-primary {
    background-color: red;
    color: white;
}

/* services section releted styles */
.main-container {
    height: 100vh;
    background-image: url('../asset/image/footer-bg.png'),
        linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8));
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.left-container {
    width: 40%;
}

.left-container h1 {
    margin-bottom: 20px;
}

.service-des {
    padding: 5px;
}

.left-container ol {
    padding-left: 30px;
}

.profaile-container {
    display: flex;
}

.athor-img {
    display: flex;
    align-items: center;
    border-right: 2px solid red;
}

.athor-img img {
    width: 70px;
    border-radius: 30px;
    padding: 10px;
}

.athor-img h4 {
    font-size: 16px;
    padding-right: 20px;
}


.right-container {
    display: flex;
}

.services-box {
    margin: 10px;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
    width: 150px;
    height: 150px;
    background-color: antiquewhite;
}

.icon {
    width: 100px;
}

/* appointment section styles */
.appointment-section{
    height: 40vh;
}

.apointment-container {
    width: 70%;
    height: 30vh;
    border-radius: 5px;
    padding: 20px;
    margin:-15px auto;
    background-color: rgba(255, 0, 0, 0.842);
    display: flex;
    align-items: center;
}

.appointment-icon img{
    width: 70px;
}
.appointment-icon h5{
    padding-left: 10px;
}

.appointment-icon{
    display: flex;
    align-items: center;
}

.appontment-desc{
    width: 40%;
    font-size: smaller;
}

/* footer section styles */
.footer-container{
    height: 100vh;
    width: 80%;
    background-color: gray;
    margin: auto;
    text-align: center;
}

.footer-container h1{
    padding: 20px;
    font-size: 45px;
    text-decoration: underline;
}

.footer-box{
    width: 33%;
    padding: 7px;
   
}
.blog-img img{
    width: 100%;
}

.footer-heading{
    text-align: left;
    margin: 10px;
}

.footer-box p{
    padding-left: 5px;
    text-align: justify;
}

.footer-box-container{
    display: flex;
    gap: 10px;
}